<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Crear una cuenta</h1>
    <div class="signup-form">
      <p class="text-center">¡Empecemos! Convertirse en miembro es gratis y sólo lleva unos minutos.</p>
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nombre Completo</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Por favor, introduzca su nombre completo.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Correo electronico</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor, introduzca una dirección de correo electrónico válida.</div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor, introduzca una contraseña.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmar contraseña</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Su contraseña y confirmación no coinciden.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']">I have read &amp; agree to the <a target="_blank" href="/terms">terms of service</a>.</label>
        </div>
        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Parece que ya hay una cuenta con tu dirección de correo electrónico. Si has olvidado tu contraseña, puedes recuperarla <a href="password/forgot">aquí</a>.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Se produjo un error mientras se procesaba su solicitud. Por favor, compruebe su información e inténtelo de nuevo, o <a href="/support">contacta con soporte</a> si el error continua.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear cuenta</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">¿Tienes una cuenta? <a href="/login">Inicia sesión</a></p>
    </div>
  </div>
  <div class="container" v-if="cloudSuccess">
    <h1 class="text-center">Revisa tu correo electrónico</h1>
    <div class="success-message">
      <hr/>
      <p>Su cuenta está casi lista. Todo lo que tienes que hacer es hacer clic en el enlace que enviamos a <strong>{{formData.emailAddress}}</strong>.</p>
      <p>((Todavía puede acceder a su tablero de mandos ahora, pero algunas características no estarán disponibles hasta que hayamos verificado su dirección de correo electrónico).</p>
      <p><a class="btn btn-outline-info" href="/">Ir al panel de control</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
